@import "../../../stylesheets/base/variables";

button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  outline: 0;
  flex-direction: row;
  background-color: transparent;
}

.with-border {
  border: 1px solid $color-ui-medium-grey;
}

.with-shadow {
  box-shadow: 0 4px 7px 0 rgba(1, 36, 6, 0.2);
}

.with-primary-background {
  background: linear-gradient(90deg, $light-green 0%, $dark-green 100%);
}

.with-grey-background {
  background: linear-gradient(270deg, $light-grey 0%, $white 100%);
}

.with-plain-background,
.with-primary-background,
.with-grey-background {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.2s linear;
    opacity: 0;
    z-index: -1;
    background: $black;
    border-radius: 20px;
  }

  &:hover::after {
    opacity: 0.07;
  }

  &:active::after {
    opacity: 0.2;
  }
}

.primary {
  color: $color-ui-green-dark;
}

.grey {
  color: $color-ui-black;
}

.white {
  color: $color-ui-white;
}