$lotteries: (
        euroMillions: (
                colors: (
                        light: #6db5e0,
                        dark: #0070e1
                )
        ),
        euroMillionsPlus: (
                colors: (
                        light: #6db5e0,
                        dark: #0070e1
                )
        ),
        euroMillionsGo: (
                colors: (
                        light: #6db5e0,
                        dark: #0070e1
                )
        ),
        german6aus49: (
                colors: (
                        light: #FCD652,
                        dark: #FAC200
                )
        ),
        german6aus49Go: (
                colors: (
                        light: #FCD652,
                        dark: #FAC200
                )
        ),
        uKLotto: (
                colors: (
                        light: #02205f,
                        dark: #02205f
                )
        ),
        polishLotto: (
                colors: (
                        light: #fff082,
                        dark: #ffc800
                )
        ),
        polishLottoPlus: (
                colors: (
                        light: #fff082,
                        dark: #ffc800
                )
        ),
        polishMiniLotto: (
                colors: (
                        light: #fff082,
                        dark: #ffc800
                )
        ),
        austriaLotto: (
                colors: (
                        light: #439a7b,
                        dark: #176c46
                )
        ),
        irishLotto: (
                colors: (
                        light: #2b8f01,
                        dark: #005e06
                )
        ),
        swedishLotto: (
                colors: (
                        light: #ffca28,
                        dark: #fdb72e
                )
        ),
        ozLotto: (
                colors: (
                        light: #88C540,
                        dark: #00763A
                )
        ),
        saturdayOz: (
                colors: (
                        light:#d93f1b,
                        dark: #cc341d
                )
        ),
        monWedOz: (
                colors: (
                        light: #d93f1b,
                        dark: #cc341d
                )
        ),
        swissLotto: (
                colors: (
                        light: #ea5346,
                        dark: #ed1c24
                )
        ),
        megaMillions: (
                colors: (
                        light: #88ADDF,
                        dark: #3957C8
                )
        ),
        megaMillionsIndex: (
                colors: (
                        light: #88ADDF,
                        dark: #3957C8
                )
        ),
        megaSena: (
                colors: (
                        light: #7bc9a3,
                        dark: #2a9b64
                )
        ),
        frenchLotto: (
                colors: (
                        light: #4c9afd,
                        dark: #156fde
                )
        ),
        superEnalotto: (
                colors: (
                        light: #e25400,
                        dark: #e24a00
                )
        ),
        elGordoPrimitiva: (
                colors: (
                        light: #ec1c24,
                        dark: #be1e2d
                )
        ),
        multiMulti: (
                colors: (
                        light: #8d44ad,
                        dark: #5f146f
                )
        ),
        multiMultiPlus: (
                colors: (
                        light: #8d44ad,
                        dark: #5f146f
                )
        ),
        germanKeno: (
                colors: (
                        light: #8d44ad,
                        dark: #5f146f
                )
        ),
        newYearsLottery: (
                colors: (
                        light: #7bc9a3,
                        dark: #2a9b64
                )
        ),
        keNow: (
                colors: (
                        light: #e92c1e,
                        dark: #EE4036
                )
        ),
        keno247: (
                colors: (
                        light: #C6168C,
                        dark: #ED1A3B
                )
        ),
        polishKeno: (
                colors: (
                        light: #e92c1e,
                        dark: #EE4036
                )
        ),
        kenoFXRates: (
                colors: (
                        light: #ed1a3b,
                        dark: #c6168c
                )
        ),
        cash4Life: (
                colors: (
                        light: #64bd7f,
                        dark: #2a914a
                )
        ),
        quina: (
                colors: (
                        light: #97A7C0,
                        dark: #6687B2
                )
        ),
        markSix: (
                colors: (
                        light: #8aa6d3,
                        dark: #587cc6
                )
        ),
        sportka: (
                colors: (
                        light: #FFCC00,
                        dark: #FEB900
                )
        ),
        bitCoinLotto: (
                colors: (
                        light: #FABA42,
                        dark: #FA870F
                )
        ),
        worldMillions: (
                colors: (
                        light: #4e83e8,
                        dark: #2557c6
                )
        ),
        fridayLotto: (
                colors: (
                        light: #E0007B,
                        dark: #90278E,
                )
        ),
        elGordo: (
                colors: (
                        light: #ec1c24,
                        dark: #be1e2d
                )
        ),
        summerGordo: (
                colors: (
                        light: #ec1c24,
                        dark: #be1e2d
                )
        ),
        elNino: (
                colors: (
                        light: #eace7e,
                        dark: #92591a
                )
        ),
        swedishJackpot: (
                colors: (
                        light: #F6C758,
                        dark: #CA7F26
                )
        ),
        extraPlat: (
                colors: (
                        light: #82C88C,
                        dark: #82C88C
                )
        ),
        southAfricanLotto: (
                colors: (
                        light: #FFE603,
                        dark: #F9B522
                )
        ),
        southAfricanPowerBall: (
                colors: (
                        light: #2088A4,
                        dark: #09639E
                )
        ),
        melate: (
                colors: (
                        light: #f52e54,
                        dark: #f52e54
                )
        ),
        euroJackpot: (
                colors: (
                        light: #F6C758,
                        dark: #CA7F26
                )
        ),
        euroJackpotGo: (
                colors: (
                        light: #F6C758,
                        dark: #CA7F26
                )
        ),
        powerBall: (
                colors: (
                        light: #FA6A52,
                        dark: #E92A2A
                )
        ),
        powerBallIndex: (
                colors: (
                        light: #FA6A52,
                        dark: #E92A2A
                )
        ),
        ozPowerBall: (
                colors: (
                        light: #0063b0,
                        dark: #00589d
                )
        )
);

$lotteriesNames: map_keys($lotteries);