@import "../../../../stylesheets/base/variables";

.responsive-image {
    height: 70px;
    width: 70px;


    @media (min-width: $screen-extra) {
        &.extra-bp {
            height: 112px;
            width: 112px;
        }
    }
    @media (min-width: $screen-sm) {
        &, &.extra-bp {
            height: 126px;
            width: 126px;
        }
    }
}
